.Cub {
    border: 1px solid #BBD000;
    
    padding: 20px;
    
}
.Panel {
    height: 50px;
    width: 100%;
    background: #BBD000;
    position: fixed;
    top: 0;
    margin-left: -8px;
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
}


