
.Red, .Violet,.Green{
    width: 44px;
    height: 42px;
    position: absolute;
}
.Red {
    border: 1px solid red;
    top: 107px;
    left: 106px;
}
.Violet {
    border: 1px solid #7900c4; 
    top: 130px;
    left: 130px;
}
.Green {
    border: 1px solid green;
    top: 155px;
    left: 160px;
}
