
.Red, .Violet,.Green{
    width: 50px;
    height: 50px;
    position: absolute;
}
.Red {
    top: 88px;
    left: 87px;
    background: #FE8989;
}
.Violet { 
    top: 118px;
    left: 116px;
    background: #827EE8;
}
.Green {
    top: 149px;
    left: 145px;
    background: #00F193;
}
