body{ margin: 0;}

ul {
    list-style-type: none;
}

.header {
   height: 60px;
    background-color: #aeb415;
    position: fixed;
    z-index: 1;
    width: 100%;
}


.nenu_item {
    font-family: sans-serif;
    margin: 20px;
    font-size: 25px;
    color: #30b7ff;
    font-weight: 500;
}

main {
    background-color: #808080;
    height: 3000px;
}

.imageTop {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
}

.bloc__item {
    border: 1px solid #43f8dd;
    border-radius: 5px;
    margin-top: 50px;
}

.image__item {
  display: block;
  margin: 0 auto;
    width: 214px;
    height: 230px;
}

.boldText {
    font-weight: 600;
    color: #43f8dd;
    font-family: sans-serif;
    text-align: center;
}

.minText {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

.textTitle {
    text-align: center;
}

.boldTextC {
    font-weight: 600;
    color: #8c00cb;
    font-family: sans-serif;
    text-align: center;
}
