body { margin: auto 0; font-family: 'Source Sans Pro', sans-serif;}
a {text-decoration: none; font-family: 'Source Sans Pro', sans-serif; color: aliceblue;}
h2 { font-family: 'Source Sans Pro';}

header {
    height: 766px;
    
    background-color: #9e9e9e;
}

.menuList {
    height: 72px;
    background-color: #a8a8a8;
}

#ListMenu a:hover  {
   color:#13a0b2;
    font-size: 20px;
    font-weight: 600;
}



#ganjaTop {
     position: absolute;
/*     margin-left: 377px;*/
     margin-left: 22.7%;
     top: 20px;
}

#ListMenu li {
/*    padding: 30px; */
    padding: 2%;
    list-style-type: none;
    color: aliceblue;
    display: inline;
    font-size: 17px;
    
}

.infostr {
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
/*    padding-left: 370px;*/
/*    padding-top: 200px;*/
    
    padding-left: 22%;
    padding-top: 12%;
    font-size: 40px;
}
.headerText {
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
/*    margin-left: 370px;*/
    margin-left: 22.3%;
}

.left {
/* margin-left: 370px;*/
  margin-left: 22.3%;
  background-color: #9e9e9e; 
  border: 1px solid aliceblue;
  border-radius: 5px;
  color: white;
  width: 165px;
  height: 50px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.left:hover{border: 1px solid #04edd2;}
.right:hover{border: 1px solid #00e2ff;}
button:focus{outline:0;}

.right {
/*  margin-left: 40px;*/
  margin-left: 2.4%;
  background-color: #13a0b2; 
  border: 0px solid aliceblue;
  border-radius: 5px;
  color: white;
  width: 165px;
  height: 50px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}


#ListMenu {
    margin: 0;
/*
    padding-left: 800px;
    padding-top: 20px;
*/
    margin-left: 40%;
    padding-top: 1.5%;
}

.mainTop {
    height: 565px;
}

.imageLine {
/*    padding-left: 48%;*/
    margin-left: 50%;
    transform: translate(-3%,-50%);
}
.nameChoose {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
/*    margin-top: 125px;*/
    margin-top: 6.5%;
}
.maintTextTop {
    width: 725px;
    text-align: center;
/*    padding-left: 30%;*/
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    color: #a8a8a8;
}


.almaz {
/*    display: inline-block; */
    width: 350px;
    height: 120px;
/*    margin-top: 60px;*/
    margin-top: 3.9%; 
    margin-left: 30%;
    transform: translate(-50%);
}
.almazH {
    float: right;
    margin-right: 160px;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.almazP {
    margin-left: 70px;
    color: #898989;
    font-family: 'Lato', sans-serif;
}
.moped {
/*    display: inline-block; */
    width: 350px;
    height: 120px;
    margin-left: 50%;
    transform: translate(-50%,-100%);
}
.MopedH {
    float: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.mopedP{
    margin-left: 100px;
    color: #898989;
    font-family: 'Lato', sans-serif;
}
.suport {
/*    display: inline-block; */
    width: 350px;
    height: 120px;
    margin-left: 70%;
    transform: translate(-50%,-200%);
    
}
.suportH{
    float: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.suportP {
    margin-left: 95px;
    color: #898989;
    font-family: 'Lato', sans-serif;
}





.mainTwo {
    height: 777px;
}

.mainLeft {
    display: inline-block;
    background-color: #9e9e9e;
    width: 50%;
    height: 100%
}

.mainRight {
    float: right;
    display: inline-block;
    background-color: #13a0b2;
    width: 50%;
    height: 100%;
}

.maincenter {
    position: relative;
    background-color: aliceblue;
    width: 925px;
/*    width: 52.3%;*/
    height: 511px;
/*    height: 65.8%;    */
    bottom: 640px;
    left: 25%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);  
}



.side {
    padding-left: 
}

.mainOne {
/*    padding-left: 20%;*/
}

.micromaincenterLeft {
    display: inline-block;
    width: 144px;
    background-color: #13a0b2;
    height: 100%;
}



.microLeftText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding-top: 1px;
    
}





.mictomaincenterRight {
    display: inline-block;
    float: right;
    width: 781px;
    height: 0;
}

.Textmax {
    margin-top: 65px;
    padding-left: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}

.lorem {
    margin-left: 60px;
    color: #898989;
    font-family: 'Lato', sans-serif;
}

.mainThree {
    height: 1040px;
    background-color: #f7f8fa;
    padding-top: 125px;
}

.TextBoldCenter {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.blok_1,.blok_2,.blok_3 {
    position: relative;
    width: 371px;
    height: 280px;
    background-color: #fdfdfd;
/*    margin: 1%;*/
    border: 1px solid #dedfe1;
}
.blok_1 {
    margin-left: 28%; 
    transform: translate(-50%);
}
.blok_2 {
    margin-left: 50%;
    transform: translate(-50%,-100%);
}
.blok_3 {
   margin-left: 82%;
    transform: translate(-100%,-200%);
}

.imagebloc {
    padding-left: 150px;
    padding-top: 40px;
}
.micText {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #898989;
}

.mainfor {
    height: 805px;
    background-color: #9e9e9e;
}

.TextBoldCenterAlb {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: aliceblue;
    padding-top: 130px;
}

.micTextCenterAlb {
     width: 725px;
    text-align: center;
    padding-left: 30%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}

.blocFor1,.blocFor2,.blocFor3 {
    float: right;
    width: 370px;
    height: 350px;
    background-color: #fdfdfd;
    margin: 1%;
    
}
.blocFor3{
   background-color: #139fb1; 
}
.blocFor1 {
    margin-right: 17%;
}



.mainFive {
    padding-top: 100px;
    height: 760px;
}

.LineBlue {
    width: 36px;
    height: 2px;
    background-color: #13a0b2;
    border: none;
}

.starImeges {
    padding-left: 35%;
}
.blokFive_1,.blokFive_2,.blokFive_3 {
    float: right;
    width: 371px;
    height: 308px;
    background-color: #fdfdfd;
    margin: 1%;
    border: 1px solid #dedfe1;
}
.blokFive_1 {
    margin-right: 17%;
}
.blokFive_2 {
    border: none;
}

.mainLiteBlue {
    height: 234px;
    background-color: #13a0b2;
}

.LiteBlocInfo1,.LiteBlocInfo2,.LiteBlocInfo3,.LiteBlocInfo4 {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 194px;
    
}
.LiteBlocInfo1 {
     margin-left: 402px;
}


.lineWhite {
    margin-left: 1px;
    margin-top: -25px;
    width: 43px;
    height: 3px;
    background-color: aliceblue;
    border: 0;
}

.TextBlueLite {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    color: aliceblue;
}

.textLiteBlueYear {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}

.mainForms {
    height: 1478px;
    padding-top: 130px;
}

.imagesBlocForms {
    height: 445px;
}

.blocForm1,.blocForm2,.blocForm3 {
    width: 368px;
    height: 427px;
    display: inline-block;
    margin-left: 32px;
    margin-top: 30px;
}
.blocForm1 {
    margin-left: 375px;
}


.Blocimg1 {
    height: 237px;
    background-color: #9e9e9e;
}

.mounth1,.mounth2,.mounth3 {
    width: 55px;
    height: 60px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: aliceblue;
    font-weight: 700;
    position: absolute;
}
.mounth1 {
    top: 5669px;
    left: 420px;
}
.mounth2 {
    top: 5669px;
    left: 820px;
}
.mounth3 {
    top: 5669px;
    left: 1220px;
}

.mtop {
    height: 35px;
    background-color: #13a0b2;
    font-size: 25px;
    
    
}

.mdown {
    color: #13a0b2;
    background-color: aliceblue;
}

.LoremGrey {
    font-family: 'Lato', sans-serif;
    color: #898989;
}

.LoremGreyHover {
    font-family: 'Lato', sans-serif;
    color: #898989;
}
.LoremGreyHover:hover {  
    color: #13a0b2;
    cursor: pointer;
}

.fTop {
    height: 284px;
    background-color: #282f39;
}

.formsInput{
    position: absolute;
    width: 508px;
    height: 611px;
    top: 6300px;
    left: 300px;
}
.imagesRight {
    position: relative;
    width: 508px;
    height: 611px;
    left: 1000px;
    top: 215px;
}


input {
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    width: 335px;
    height: 30px;
}
textarea {
    resize: none;
    border-radius: 5px;
}



.SubmitBotton {
    background-color: aliceblue;
    color: #13a0b2;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    width: 130px;
    height: 40px;
    margin-top: 30px;
    border-color: #13a0b2;
    
}
.SubmitBotton:hover {
   border-color: red;
    color: red;
}

.GetInTouch {
    height: 825px;
    padding-top: 20px;
}

.LineBlueF {
    margin-bottom: 30px;
}

.TextForms {
    font-family: 'Source Sans Pro';
    margin: 0;
}

.Fblok_1,.Fblok_2,.Fblok_3 {
    width: 200px;
    height: 160px;
}
.Fblok_1 {
    margin-left: 70%;
    position: relative;
    transform: translate(-50%,50%);
}
.Fblok_2 {
    margin-left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}
.Fblok_3 {
    margin-left: 30%;
    position: relative;
    transform: translate(-50%,-150%);
}




.imageF {
    margin-left: 30%;
}

.TextFoterTop {
font-size: 18px;
line-height: 24px;
color: #ffffff;
font-family: "Lato";
font-weight: 400;
text-align: center;
}

.fDown {
    height: 196px;
}

.imageFooterD {
    margin-left: 50%;
    transform: translate(-50%,300%);
}

.TextFooterD {
font-size: 16px;
line-height: 24px;
color: #323232;
font-family: "Lato";
font-weight: 400;
text-align: center;
margin-top: 70px;
}

.spanF {
    color: #13a0b2;
}



.mainBlocTop {
    margin-top: 2%;
    height: 282px;
}

.MainBlocDown {
    margin-top: 2%;
    height: 282px;
}
