*{
    margin: auto 0;
}

header {
    background-image: url("../img/imagesTop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 750px;
    width: auto;
}
.logo{
    background-image: url("../img/logo.png");
    width: 154px;
    height: 92px;
    position: relative;
    left: 300px;
}

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    color: red;
}
ul.MenuList li {
    
    list-style: none;
    display: inline;
    color: aliceblue;
    margin-right: 5px; /* Отступ слева */
    padding: 30px; /* Поля вокруг текста */
    font-size: 24px;
}

.positionMenu {
    position: absolute;
    top: 40px;
    left: 600px;
}


.nameH1 {
    text-align: center;
    color: aliceblue;
    font-size: 120px;
    position: relative;
    top: 150px;
    font-family: sans-serif;
}



.logo2 {
    background-image: url("../img/logo2.png");
    left: 400px;
    width: 500px;
    height: 200px;
    position: absolute;
    margin-top: 150px;
    margin-left: 250px;
    
}
