
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

ul {
    list-style-type: none;
    font-family: verdana,sans-serif;
    margin-left: 300px;
}

li {
    color: aqua;
    background: rgba(0, 0, 255, 0.62);
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    margin-right: -7px;
    
}
li:hover
{
    background: red;
}


.overflow {
    overflow: auto;
    width: 600px;
    height: 900px;
    border: 2px solid black;
    padding: 20px;
}
