body {
    margin: 0;
    padding: 0;
    background: #999;
}
.page {}
.header {}
.nav {}
ul {
    /*    padding-inline-start: 5px !important;*/
}
li {}
.jumbo {}
.box {}
.bdr {}
.panels {}

}
.content {}
.content li {}
